<div class="header_section">
    <div class="container-fluid">
          <div class="main">
             <div class="logo"><a routerLink="/"><img src="assets/home/images/logo.png"></a></div>
             <div>
                <ul>
                   <!-- <div class="togle_"> -->
                      <div>
                         <ul style="display:inline-flex;margin-left: 750px;">
                            <li><a routerLink="/">Home</a></li>
                              <li><a routerLink="/protect">Protect</a></li>
                                 <li><a routerLink="/about">About</a></li>
                                       <li><a routerLink="/symptoms">Symptoms</a></li>
                                       <li><a routerLink="/centers">Centers</a></li>
                                        <li><a href="security/login">Login</a></li>
                            <!-- <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li> -->
                         </ul>
                      </div>
                   <!-- </div> -->
              
                   <span class="navbar-toggler-icon"></span>
                   <span onclick="openNav()"><img src="assets/home/images/toogle-icon.png" class="toggle_menu"></span>
                   <span onclick="openNav()"><img src="assets/home/images/toogle-icon1.png" class="toggle_menu_1"></span>
                </ul>
             </div>
          </div>
       </div>
