            <app-header></app-header>

                <div 
                  #mapContainer id="map">
              </div>
           
                
          
              
   <div class="content">
      <div *ngFor="let obj of home.allVacciniationCentre" class="card">
            <div  class="icon"><i class="material-symbols-outlined">medical_services</i></div>
            <p class="title">{{obj.centername}}</p>
            <p class="text">{{obj.centeraddres}}</p>
          </div>

          
    </div>
    <div class="payment" style="display:inline-block ;">
      <img  src="assets/img/bmc-new-logo.webp"> >
      <div id="payments"></div>
     </div>
     


  

    


